<section class="container root">
  <div class="root__modal">
    <form class="root__modal-content">
      <label>
        <span>Название</span>
        <input type="text" id="modal-name">
      </label>
      <label>
        <span>Описание</span>
        <textarea id="modal-description"></textarea>
      </label>
      <label>
        <span>Цена</span>
        <input type="number" id="modal-price">
      </label>
      <div class="root__modal-content-btn" >
        <button class="root__modal-create">Создать</button>
        <button class="root__modal-save">Сохранить</button>
        <button class="root__modal-close">Закрыть</button>
      </div>
    </form>
  </div>
  <div class="root__add">
    <button onclick="onpenModal();">Добавить в таблицу</button>
  </div>
  <table class="root__table">
    <tr>
      <th class="root__table-name-t">Название</th>
      <th class="root__table-description-t">Описание</th>
      <th class="root__table-price-t">Цена</th>
      <th class="root__table-setting-t">Настройки</th>
    </tr>
    <tr data-id="1">
      <td class="root__table-name">Teddy</td>
      <td class="root__table-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laudantium temporibus nulla nemo doloremque officia sit quisquam eum, veritatis adipisci totam aut, ipsam debitis quidem et nihil commodi incidunt accusamus laborum voluptates molestiae eius. Sequi nisi praesentium aperiam delectus quasi, voluptate reprehenderit. Est, optio qui fuga molestiae perspiciatis quaerat illum!</td>
      <td class="root__table-price">2000</td>
      <td class="root__table-setting">
        <ul>
          <li class="root__table-edit" onclick="onpenModal(this);">Изменить</li>
          <li class="root__table-delete">Удалить</li>
        </ul>
      </td>
    </tr>
    <tr data-id="2">
      <td class="root__table-name">Car</td>
      <td class="root__table-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, temporibus.</td>
      <td class="root__table-price">150</td>
      <td class="root__table-setting">
        <ul>
          <li class="root__table-edit" onclick="onpenModal(this);">Изменить</li>
          <li class="root__table-delete">Удалить</li>
        </ul>
      </td>
    </tr>
    <tr data-id="3">
      <td class="root__table-name">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quo fugit id doloremque necessitatibus. Corporis, id quibusdam temporibus cum ipsam accusamus ea neque sunt velit, amet et, maiores dignissimos veniam? Dolorum vero voluptatem veniam exercitationem voluptate quisquam neque! Doloribus consectetur veritatis eligendi, illum nihil corrupti ullam vel! Voluptatibus ut magni non harum culpa iste, doloribus quos ducimus nostrum illo. Debitis.</td>
      <td class="root__table-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptate nulla repudiandae alias blanditiis! Consequuntur culpa magnam at assumenda vel ea amet, maxime corporis adipisci in dolorem ducimus nihil ratione, eos, praesentium sed error minima! Omnis consectetur aliquam enim veritatis dolor porro nam?</td>
      <td class="root__table-price">3000450</td>
      <td class="root__table-setting">
        <ul>
          <li class="root__table-edit" onclick="onpenModal(this);">Изменить</li>
          <li class="root__table-delete">Удалить</li>
        </ul>
      </td>
    </tr>
  </table>
</section>