@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

li {
  list-style-type: none;
}

input, button {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  border: 2px solid #f0f0f0;
  outline: none;
  border-radius: 3px;
  transition: border-color 0.2s;
}

input:focus, button:focus {
  border: 2px solid #0275d8 !important;
}

button:active {
  border: 2px solid rgba(2, 117, 216, 0.3) !important;
}

body {
  background: #8ce09d;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.create-account {
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
}

.create-account__top {
  background: #f7f7f7;
  padding: 20px 40px;
  border-bottom: 1px solid #f0f0f0;
}

.form {
  padding: 30px 40px;
}

.form__field {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form__field--success .form__input {
  border-color: #5cb85c;
}

.form__field--error .form__input {
  border-color: #d9534f;
}

.form__field--success .form__icon--success {
  visibility: visible;
  color: #5cb85c;
}

.form__field--error .form__icon--error {
  visibility: visible;
  color: #d9534f;
}

.form__field--error .form__message {
  visibility: visible;
  color: #d9534f;
}

.form__name {
  display: inline-block;
  margin-bottom: 5px;
}

.form__input {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
}

.form__icon {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form__message {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0; 
}

.form__submit {
  cursor: pointer;
  background: #8ce09d;
  border: 2px solid #8ce09d;
  display: block;
  width: 100%;
  padding: 10px;
  transition: background 0.2s, border 0.2s;
}

.form__submit:hover {
  background: #72da87;
  border: 2px solid #72da87;
}