<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="favicon.ico" type="image/ico">
  <title>Webpack</title>
</head>
<body>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quas sit exercitationem. Veritatis aliquid velit provident dolorum architecto asperiores adipisci at, repellendus vitae, sit illo quod facilis commodi est ipsa exercitationem, blanditiis molestiae. Libero mollitia minus dolor repellendus nostrum sapiente ullam nulla minima iure maxime quisquam voluptates eveniet quo, nesciunt aspernatur commodi alias totam esse distinctio expedita eos nobis ratione suscipit? Quo omnis, numquam animi temporibus repellat dignissimos nostrum aperiam impedit nobis perferendis aut provident dolorum expedita facere tempore, ea deleniti! Aliquid ducimus distinctio fuga quod? Molestias voluptatibus delectus at repellat harum molestiae dolorem iure, ducimus excepturi? Deserunt, numquam incidunt?</p>

</body>
</html>
